body{
    background:blueviolet;
}

.images{
        width: 700px;
        height: 500px;
        border: 1px solid lightskyblue;
        // padding: 10px 40px;
    .img{
        width: 700px;
    }

    .images-body{
        border: 1px solid black;
        width: 600px;
        background: wheat;
       
    }

    .image-button{
         cursor: pointer;
    }
}