body, p{
    margin: 0px;
    padding: 0px;
}

.slider{
    width: 800px;
    height: 500px;
    margin: 50px 0px 0px 250px;
}

.imgs{
        margin: 20px 0px 0px 150px;
        width: 100%;
        height: 400px;
        overflow: hidden;
}



























// body, p{
//     margin: 0px;
//     padding: 0px;
// }

// .row{
//    // position: relative;
//     width: 800px;
//     height: 500px;
//     margin: 70px 500px;
//     overflow: hidden;
// }

// .col p{
//        position: absolute;
//        background-color:darkgrey;
//        width: 800px;
//        padding: 4px;
// }






















// // .flex-caption {
// //     width: 96%;
// //     padding: 2%;
// //     left: 0;
// //     bottom: 0;
// //     background: rgba(0,0,0,.5);
// //     color: #fff;
// //     text-shadow: 0 -1px 0 rgba(0,0,0,.3);
// //     font-size: 14px;
// //     line-height: 18px;
// //   }

// //   .slidess{
// //     position: relative;
// //     width: 600px;
// //     height: 300px;
// //     overflow: hidden;
// //   }








// // /*
// //   #slider {
// //     font: 19px sans-serif;
// //     margin: 0px 0px 60px 0px;
// //     position: relative;
// //     width: 600px;
// //     height: 300px;
// //     overflow: hidden;
// //   }

// //   #kontrol {
// //     position: absolute;
// //     right: 0px;
// //     bottom: 10px;
// //   }

// //   #kontrol a {
// //     color: #ffffff;
// //     background-color: rgba(0, 0, 0, 0.5);
// //     padding: 10px;
// //     text-decoration: none;

// // */