/*Headings*/

.header-img{
    max-width: 100%;
    height: 230px;
    background-image: url('../image/Services/service\ -\ detail.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    .container{
         padding-top: 90px;
         padding-bottom: 90px;
         width: auto;

        h3{
       
            font-family: $main-h-font;
            font-size: 50px;
            font-weight: 500;
            color: white;
            text-align: center !important;
         
        }
    }
}

    
/*Service Details*/
$base-color: #303F9F;


.container {
 list-style: none;
}



#service-heading {
 position: relative;
 max-width: 100%;
 margin-top: 45px;
 margin-bottom: 20px;

}

#service-heading .menu div {
 padding: 15px 20px 15px 40px;
 margin-bottom: 5px;
 color: black;
 background: white; 
 cursor: pointer;
 position: relative;
 font-size: 23px;
 font-weight: 500;
 transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#service-heading .menu div:hover {
 background-color: #18BA60;
}

#service-heading .menu div span.light {
 height: 10px;
 width: 10px;
 position: absolute;
 top: 24px;
 left: 15px;
 background-color: $base-color;
 border-radius: 100%;
 transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#service-heading .menu div.active span.light {  
 background-color: $base-color;
 left: 0;
 height: 100%;
 width: 3px;
 top: 0;
}

#service-heading .menu div.active {
border-top-right-radius: 15px;
background-color:#18BA60;
 color: white;
 padding: 15px 20px 15px 20px;
}

#service-text{
    position: relative;
    max-width: 100%;
    margin-top: 45px;
    margin-bottom: 20px;
}

ul.text {
 position: relative;
 height: 0px;
 list-style: none;
 margin: 0;
 padding: 0;
 transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.text li {
 opacity: 0;
 transform: translateX(50px);
 position: absolute;
 list-style: none;
 transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.text li.active {
 transition-delay: .3s;
 z-index: 2;
 opacity: 1;
 transform: translateX(0px);
}

ul.text li img{
    width: 100%;
    height: 310px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray ;

}

ul.text li .detail-heading{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

ul.text li .detail-heading::after {
    display: block;
    height: 3px;
    background-color: #18ba60;
    content: " ";
    width: 10%;
    margin-top: 5px;
}


ul.text li p {
@extend %paragraph;
}

.font-weight-bold{
    font-weight: bold;
}


/* Department*/


.department-detail{
    position: relative;
    max-width: 100%;
    margin-top: 45px;
    margin-bottom: 20px;
      .department-heading{
        h3{
            font-size: 35px;
            font-weight: 300;
            color: #3b3b3b;
            line-height: 130%;
            margin-bottom: 1px;
        }
        p{
            @extend %paragraph;
            margin: 20px 0;
        }
    }

    .department-heading h3::after {
        display: block;
        height: 3px;
        background-color: #18ba60;
        content: " ";
        width: 15%;
        margin-top: 3px;
    }


     .depart-title {
        display: flex;
        justify-content: space-between;
        background: #18ba60;
        border-radius: 5px;
        color: #fff;
        padding: .7rem; 
    }

     .depart-list {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #18ba60; }
      
       .depart-list ul {
        list-style: none;
        padding-left: 0px;
        margin-top: 15px; }
      
       .depart-list ul li {
        padding-left: 1px;
        padding-bottom: 20px;
    }
      
       .depart-list ul li .fas {
        color: #18ba60; }
}



#to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    padding: 10px 15px;
    background: #00bfff;
    font-weight: bold;
    color: #ffffff;
    size: 20px;
    display: none;
}