body{
    margin: 0px;
    padding: 0px;
  
}

section{
    width: 80%;
    margin-left: 15%;
}

.row{
    display:flex;
    width: 100%;
}


.col-4{

    width: 30%;
    height: 250px;
    padding: 10px;
    margin-top: 5px;
}
.image{

    width: 100%;
    height: 100%;
    border: 1px solid lightgreen;
    border-style:double;
    border-radius: 25px;
}